/*
.product-formukario {
    background: #f2dae1;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    width: 25%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-formukario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .product-formukario input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  
  .product-formukario button {
    width: 50%;
    padding: 10px;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-formukario button:hover {
    background-color: #218c54;
  }
  
  @media only screen and (max-width: 600px) {
    .product-formukario {
      max-width: 100%;
    }
  }
  
*/

.product-formukario {
  background: #f2dae1;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  width: 25%;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-formukario label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.product-formukario input,
.product-formukario select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.product-formukario input[type="file"] {
  font-size: 16px;
}

.product-formukario input[type="file"]::file-selector-button {
  background-color: #27ae60;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-formukario input[type="file"]::file-selector-button:hover {
  background-color: #218c54;
}

.product-formukario button {
  width: 50%;
  padding: 10px;
  background-color: #27ae60;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-formukario button:hover {
  background-color: #218c54;
}

@media only screen and (max-width: 600px) {
  .product-formukario {
    max-width: 100%;
  }
}

